* {
	padding: 0;
	margin: 0;
}

header {
	background-color: #ff0000;
	color: #ffde00;
	border-bottom: 7px solid black;
	padding: 10px;
}

h1 {
	text-align: center;
}

.search {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 0 10px;
}

.site-description {
	text-align: center;
}

#rando {
	border-radius: 5px;
	padding: 10px;
}

.input-group {
	width: 350px;
}

.input-group > .form-control {
	height: 42px;
}

.input-group .btn,
#rando {
	background-color: black;
	color: white;
	border: none;
}

/* This section deals with the container when the search button is clicked */

.poke-info {
	display: flex;
	margin: 0 40px 0 40px;
	height: 700px;
}

.content-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 25%;
}

.content-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 50%;
}

.content-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 25%;
}

.show {
	display: block;
}

.hide {
	display: none;
}
