* {
	padding: 0;
	margin: 0;
}

header {
	background-color: #ff0000;
	color: #ffde00;
	border-bottom: 7px solid black;
	padding: 10px;
}

h1 {
	text-align: center;
}

.search {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 0 10px;
}

.site-description {
	text-align: center;
}

.site-description p {
	position: relative;
	top: 200px;
	font-size: 24px;
	display: inline-block;
	width: 800px;
}

#rando {
	border-radius: 5px;
	padding: 10px;
}

.input-group {
	width: 350px;
}

.input-group > .form-control {
	height: 42px;
}

.input-group .btn,
#rando {
	background-color: black;
	color: white;
	border: none;
}



/* This section deals with the container when the search button is clicked */

.poke-info {
	display: flex;
	margin: 0 40px 0 40px;
	height: 700px;
}

.content-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 25%;
}

.content-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 50%;
}

#descript {
	padding: 0 20px;
}

#poke-sprite {
	width: 400px;
	height: 400px;
  	-webkit-filter: drop-shadow(5px 5px 5px #222);
  	filter: drop-shadow(5px 5px 5px #222);
}

.content-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 25%;
}

#music {
	position: fixed;
	right: 0;
	bottom: 0;
	border: 2px solid black;
}

h2 {
	padding: 15px 0 ;
}

.show {
	display: block;
}

.hide {
	display: none;
}
